.c-wrapper{
    height: 60vh;
    margin: 7rem 0 3rem 0;
    padding: 0 3rem 0 3rem;
    display: flex;
}
.c-left{
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}
.c-left> span{
    font-size: 50px;
    font-weight: bold;
}
.c-left > :nth-of-type(1){
    color:var(--darkBlue);
}
.c-left > :nth-of-type(2){
    color: var(--blueViolet);
}
.c-right{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    position: relative;
}
.c-right > form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.user{
    width: 17rem;
    height: 2rem;
    border-radius: 12px;
    padding:0 5px;
    border: 2px solid var(--blueViolet);
    outline: none;
    box-shadow:var(--smboxShadow)
}
.c-right > form> :nth-child(3){
    width: 17rem;
    height: 6rem;
    border-radius: 12px;
    padding:0 5px;
    border: 2px solid var(--blueViolet);
    outline: none;
    box-shadow:var(--smboxShadow)
}
.contact-btn{
    background: var(--blueViolet);
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
}
.contact-btn:hover{
    background: white;
    border: 2px solid var(--blueViolet);
    color: var(--blueViolet);
}
@media screen and (min-width:1920px){
    .c-wrapper {
      height: 45vh;
    }
    .user{
        width: 22rem;
        height: 2.5rem;
    }
    .c-right > form> :nth-child(3){
        width: 22rem;
        height: 8rem;
    }
  }
  @media screen and (max-width:480px){
    .c-wrapper{
        flex-direction: column;
        padding: 0;
        margin-top: 2rem;
        margin-bottom: 5rem;
    }
    .c-left{
        margin-bottom: 2rem;
    }
    .c-left > span {
        font-size: 35px;
    }
  }
  