:root
{
  --darkBlue: #3b3486;
    --blueViolet : #7743DB;
    --black : #242D49;
    --gray : #788097;
    --blueCard : #DDF8FE;
    --gold: #F49D1A;
    --boxShadow : rgba(255, 255, 255, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    --orangeCard: rgba(252, 166, 31, 0.45);
    --smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);
}

.App{
    padding: 0 3.5rem 0.5rem 3.5rem;
    overflow: hidden;
    color: var(--black);
    background: #f0f2f5;
}
.btn{
  width: 140px;
  height: 45px;
  border-radius: 25px;
  font-size: 16px;
  color: white;
  padding: 11px 20px 11px 20px;
  cursor: pointer;
  box-shadow:var(--boxShadow)
}
@media screen and (min-width:1367px){
  .App {
    padding: 1rem 10rem;
  }
}
@media screen and (max-width:480px) {
  .App{
    padding: 0.5rem 1rem;
  }
}

  